---
- name: Install Intel GPU drivers and tools
  ansible.builtin.apt:
    name:
      - vainfo
      - intel-media-va-driver
      - intel-gpu-tools
    update_cache: yes
    cache_valid_time: 3600
    state: present

- name: "Check '{{dev0_lbl}}' config on LXC {{target_lxc_vmid}}"
  ansible.builtin.shell:
    cmd: pct config {{ target_lxc_vmid }} | grep -Fx {{dev0_lbl}}:\ {{dev0_cfg_str}} > /dev/null && echo 'ok'
  register: dev0_check
  changed_when: false
  failed_when: false

- name: "Check '{{dev1_lbl}}' config on LXC {{target_lxc_vmid}}"
  ansible.builtin.shell:
    cmd: pct config {{ target_lxc_vmid }} | grep -Fx {{dev1_lbl}}:\ {{dev1_cfg_str}} > /dev/null && echo 'ok'
  register: dev1_check
  changed_when: false
  failed_when: false

- name: "Pass-through /dev/dri/renderD128 to LXC {{ target_lxc_vmid }} as '{{dev0_lbl}}'"
  ansible.builtin.command: >
    pct set {{ target_lxc_vmid }} --{{dev0_lbl}} {{dev0_cfg_str}}
  when: dev0_check.stdout == ""
  notify: reboot jellyfin lxc

- name: "Pass-through /dev/dri/card0 to LXC {{ target_lxc_vmid }} as '{{dev1_lbl}}'"
  ansible.builtin.command: >
    pct set {{ target_lxc_vmid }} --{{dev1_lbl}} {{dev1_cfg_str}}
  when: dev1_check.stdout == ""
  notify: reboot jellyfin lxc
